:root {
  --warning-background: #F2DEDE;
  --warning-text: #A94442;

  --winning-background: #DFF0D8;
  --winning-text: #3C763D;

  --draw-background: #D9EDF7;
  --draw-text: #31708F;

  --colour-font-dark: #181818;
  --colour-font-light: #f8f8f8;

  --colour-lavender-web: #DCD6F7;
  --colour-blue-purple: #A6B1E1;
  --colour-english-lavender: #B4869F;
  --colour-rose-dust: #985F6F;
  --colour-independence: #4E4C67;
  --colour-independence-dark: #3e3c52;
}

* {
  font-family: 'Oxygen', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p,
label,
button,
input {
  font-size: 17px;
}

button {
  color: var(--colour-font-light);
  border: none;
  padding: 1rem 3rem;
  border-radius: 0;
  cursor: pointer;
  background-color: var(--colour-independence);
  box-shadow: 0.5rem 0.5rem 0.5rem 0 #e5e5e5;
  transition: all 0.25s;
}

button:hover {
  background-color: var(--colour-independence-dark);
}

.progress-bar {
  height: 3px;
  left: 0;
  background-color: var(--colour-independence);
  transition: all 0.5s;
  width: 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: var(--colour-font-dark);
}

.start-modal,
.modal-submit-names,
.game-section {
  width: 60vw;
  margin: auto;
  padding: 2rem;
}

.start-modal h2,
.modal-submit-names h2 {
  margin-bottom: 4rem;
}

.start-modal p {
  color: #6c757d;
  margin-top: 5px;
  text-align: center;
}

.start-modal h4 {
  margin-bottom: 0;
}

.start-modal i {
  font-size: 2rem;
}

.start-modal button,
.modal-submit-names-button,
.modal-submit-names-button-previous {
  margin-top: 4rem;
}

.modal-submit-names-button-previous {
  margin-left: 1rem;
}

.start-modal-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.start-modal-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 1.5rem 0 #e5e5e5;
  padding: 4rem;
  cursor: pointer;
  width: 15vw;
}

/* Names modal */
button.secondary {
  background-color: #dee2e6;
  color: var(--colour-font-dark);
} 

button.secondary:hover {
  background-color: #ced4da;
}

input {
  border: none;
  box-shadow: 0 0 1.5rem 0 #e5e5e5;
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 1rem;
} 

input:disabled {
  cursor: not-allowed;
}

.selected {
  background-color: #dee2e6;
}

.hide {
  display: none;
}

/* Player message */
.player-message-block {
  position: absolute;
  text-align: center;
  bottom: 0;
  color: var(--warning-text);
  background-color: var(--warning-background);
  padding: 1rem;
  width: 20vw;
  margin-left: 40vw;
  transition: all 1.25s;
}

/* Game styling */

.player-score-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

span.score-section {
  box-shadow: 0 0 1.5rem 0 #e5e5e5;
  padding: 0rem 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: bold;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: 50px auto;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid var(--colour-lavender-web);
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:nth-child(1),
.cell:nth-child(3),
.cell:nth-child(7),
.cell:nth-child(9) {
  border: none;
}

.cell:nth-child(2),
.cell:nth-child(8) {
  border-top: none;
  border-bottom: none;
}

.cell:nth-child(5) {
  border-left: none;
  border-right: none;
}

.cell:nth-child(4) {
  border-left: none;
}

.cell:nth-child(6) {
  border-right: none;
}

.fa-times {
  color: var(--colour-independence);
}

.fa-circle-o {
  color: var(--colour-rose-dust);
}

.play-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.play-buttons * {
  margin-left: 1rem;
  margin-right: 1rem;
}

.winner {
  background-color: var(--winning-background);
  color: var(--winning-text);
}

.draw {
  background-color: var(--draw-background);
  color: var(--draw-text);
}

@media only screen and (max-width: 1000px) {

  .start-modal,
  .modal-submit-names,
  .game-section {
    width: 80vw;
    padding: 0;
  }

  .start-modal-inner {
    justify-content: space-evenly;
  }

  .start-modal-item {
    padding: 3rem;
    width: 60vw;
    margin: 0;
  }

  .start-modal-button {
    margin-bottom: 3rem;
  }

  input {
    width: calc(80vw - 2rem);
  }

  .player-score-section {
    margin-top: 3rem;
  }

  .game-container {
    margin-left: -50px;
  }

  .player-message-block {
    width: 70vw;
    margin-left: 10vw;
  }

}

@media only screen and (max-width: 767px) {

  .start-modal {
    width: 90vw;
  }

  .start-modal-inner {
    justify-content: center;
  }

  button.play-again,
  button.reset-button {
    width: 70vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

}
