:root {
  --highlight: red;
}

* {
  font-family: 'Oxygen', sans-serif;
}

h1 {
  font-size: 5rem;
}

.start-modal h2,
.start-modal button {
  margin-left: 20vw;
}

.start-modal-inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rebeccapurple;
  width: 60vw;
  margin-left: 20vw;
}

.start-modal-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--highlight) 1px solid;
  border-radius: 2rem;
  padding: 4rem;
  cursor: pointer;
}

.selected {
  border: var(--highlight) 4px solid;
  color: var(--highlight);
}

.hide {
  display: none;
}

/* Game styling */
.game-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 50px auto;
}
.cell {
  font-family: "Permanent Marker", cursive;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #333333;
  border: 1px solid #333333;
  cursor: pointer;
line-height: 100px;
  font-size: 60px;
}